.container {
    background-color: #212121;
    width: 100%;
    height: 100%;
    // position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    .progressBars {
        display: flex;
        justify-content: space-around;
        margin-bottom: 20rem;
        margin-top: 5rem;
        // width: 80%;
        &>* {
            width: 20%;
        }
    }

    .title {
        text-align: center;
        font-size: 7rem;
        font-weight: 500;
        width: 100%;
        color: white;
    }


    &_chart {
        .chartTitle {
            font-size: 2rem;
            color: #FF5151;
            span:first-of-type {
                color: white;
                margin-right: 10px;
            }
        }

        .dateLabel {
            color: white;
            margin: 0 auto;
        }

        .buttons {
            margin: 1.5rem 0 5rem 0;
            text-align: center;
            display: inline-block;
            bottom: -80%;
        }

    }

    
}

